@page "/user/{Id:int}"
@page "/user/{Name}"
@using Emergence.Data.Shared
@using Emergence.Data.Shared.Models
@using Emergence.Client.Components
@using Emergence.Client.Pages.Specimens

@inherits UserComponent

@if (User != null)
{
    <div class="card-header h3">
        <div class="row">
            <div class="col-lg-8 col-xs">
                <span class="font-italic">@User.DisplayName</span>
            </div>
            <div class="col-lg-4 col-xs" style="text-align: right;">
                @if (IsAuthenticated)
                {
                    @if (string.Equals(User.UserId, UserId, StringComparison.OrdinalIgnoreCase))
                    {
                        <span class="text-body">Your profile</span>
                    }
                    else if (User.IsViewerContact)
                    {
                        <span class="text-body">You are a contact</span>
                    }
                    else if (User.IsViewerContactRequested)
                    {
                        <span class="text-body">Contact request sent</span>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary" @onclick="AddContactRequestAsync"><span class="oi oi-plus btn-oi"></span>Contact</button>
                    }
                }
            </div>
        </div>
    </div>
    <div class="group">
        <div class="row">
            <div class="col-lg-6 col-xs">
                <div>
                    <label for="name">Name</label>
                </div>
                <div>
                    <span class="text-body">@(User.DisplayName)</span>
                </div>
            </div>
            @if (User.ProfileVisibility == Visibility.Contacts && !User.IsViewerContact)
            {
                <div class="col-lg-12 col-xs" style="padding: 1em; text-align: center;">
                    <span class="text-body">This profile is visible to @User.DisplayName's contacts only.</span>
                </div>
            }
            else if (User.ProfileVisibility == Visibility.Hidden)
            {
                <div class="col-lg-12 col-xs" style="padding: 1em; text-align: center;">
                    <span class="text-body">This profile is set to hidden.</span>
                </div>
            }
            else
            {
                <div class="col-lg-6 col-xs">
                    @if (!string.IsNullOrEmpty(User.Location?.CityState))
                    {
                        <div>
                            <label for="name">Location</label>
                        </div>
                        <div>
                            <span class="text-body">@User.Location?.CityState</span>
                        </div>
                    }
                </div>
                <div class="col-lg-6 col-xs">
                    @if (!string.IsNullOrEmpty(User.Bio))
                    {
                        <div>
                            <label for="name">Bio</label>
                        </div>
                        <div style="overflow: auto; width: 100%;">
                            <span class="text-body">@User.Bio</span>
                        </div>
                    }
                </div>
                <div class="col-lg-6 col-xs">
                    <div style="padding-top: 1em;">
                        @if (User.Photo != null)
                        {
                            <img srcset="@(User.Photo.LargeUri) 2x, @(User.Photo.MediumUri) 1x" src="@(User.Photo.OriginalUri)"
                                 onerror="this.onerror=null;this.srcset='';this.src='@(User.Photo.OriginalUri)'" alt="Uploaded photo of @(User.DisplayName)"
                                 style="max-width:275px;max-height:275px" class="shadow-sm align-center" />
                        }
                        else
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 275 275" style="max-width:275px;max-height:275px" class="shadow-sm align-center">
                                <rect fill="#FFF" width="275" height="275" />
                                <text fill="#000" font-family="Arial" font-size="1em" dy="1" font-weight="bold" x="50%" y="50%" text-anchor="middle">No photo</text>
                            </svg>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="group">
        <div class="row">
            <div class="form-group">
                <div class="col">
                    @if (!string.IsNullOrEmpty(User.UserId) && IsAuthenticated)
                    {
                        <label for="specimens">@(User.DisplayName)'s Specimens</label>
                        <ListSpecimens ForUserId="@User.UserId.ToString()" LinkRelations="false" />
                    }
                    else
                    {
                        <p><a href="authentication/login">Login</a> to see @User.DisplayName's specimens</p>
                    }
                </div>
            </div>
        </div>
    </div>
}

@code {
}
