@page "/activity/view/{Id:int}"
@using Microsoft.AspNetCore.Authorization
@using Emergence.Data.Shared.Models
@using Emergence.Client.Components
@using Emergence.Data.Shared.Extensions

@attribute [Authorize]
@inherits ActivityComponent

@if (Activity != null)
{
<div class="form-group">
    <div class="row">
        <div class="col-lg-4 col-xs">
            <div>
                <label for="type">Type</label>
            </div>
            <div>
                <span class="text-body">@Activity.ActivityType.ToFriendlyName()</span>
            </div>
        </div>
        <div class="col-lg-4 col-xs">
            <div>
                <label for="specimen">Specimen</label>
            </div>
            <div>
                @if (!string.IsNullOrEmpty(Activity.Specimen?.InventoryItem?.Name))
                {
                    <span class="text-body">@(Activity.Specimen.InventoryItem.Name)</span>
                }
                else if (Activity.Specimen?.SpecimenId == 0 && Activity.Specimen?.Lifeform != null)
                {
                    <span class="text-body">@(Activity.Specimen.Lifeform.CommonName)</span><span>&nbsp;</span><span class="text-body font-italic">@(Activity.Specimen.Lifeform.ScientificName)</span>
                }
            </div>
        </div>
        @if (!string.IsNullOrEmpty(Activity.User?.DisplayName))
        {
            <div class="col-lg-4 col-xs">
                <UserDisplay Label="By" User="Activity.User" />
            </div>
        }
        <div class="col-lg-4 col-xs">
            <div>
                <label for="name">Name</label>
            </div>
            <div>
                <span class="text-body">@Activity.Name</span>
            </div>
        </div>
        <div class="col-lg-8 col-xs">
            <div>
                <label for="description">Description</label>
            </div>
            <div>
                <span class="text-body">@Activity.Description</span>
            </div>
        </div>
        <div class="col-lg-4 col-xs">
            <div>
                <label for="date-occured">Date Occured</label>
            </div>
            <div>
                <span class="text-body">@Activity.DateOccurred</span>
            </div>
        </div>
        <div class="col-lg-4 col-xs">
            <div>
                <label for="date-scheduled">Date Scheduled</label>
            </div>
            <div>
                <span class="text-body">@Activity.DateScheduled</span>
            </div>
        </div>
        @if (UploadedPhotos != null && UploadedPhotos.Any())
        {
            <div class="form-group">
                <ViewPhotos UploadedPhotos="UploadedPhotos" />
            </div>
        }
    </div>
</div>
}
else
{
    <span>Loading...</span>
}

@code {

}
