@page "/specimen/edit/{Id:int}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Emergence.Data.Shared.Models
@using Emergence.Client.Components
@using Emergence.Data.Shared.Extensions
@using Blazored.Typeahead
@attribute [Authorize]
@inherits EditSpecimenComponent

@if (Specimen != null)
{
    <EditForm Model="@Specimen">
        <div class="form-group container">
            <div class="row">
                <div class="col-12">
                    <label for="lifeform">Plant Name </label>
                    <BlazoredTypeahead SearchMethod="FindLifeformsAsync"
                                        @bind-Value="SelectedLifeform"
                                        MinimumLength="3"
                                        Debounce="500" Context="lifeform">
                        <SelectedTemplate>
                            <span class="text-body">@(lifeform.CommonName)</span>&nbsp;<span class="text-body font-italic">@(lifeform.ScientificName)</span>
                        </SelectedTemplate>
                        <ResultTemplate>
                            <span class="text-body">@(lifeform.CommonName)</span>&nbsp;<span class="text-body font-italic">@(lifeform.ScientificName)</span>
                        </ResultTemplate>
                        <NotFoundTemplate>
                            No results found
                        </NotFoundTemplate>
                    </BlazoredTypeahead>
                </div>
            </div>
            <div class="row">
                <div class="col-8 col-xs-1">
                    <label for="specimen-name">Name</label>
                    <input @bind="@Specimen.InventoryItem.Name" type="text" class="form-control" id="specimen-name" @onfocus="PopulateInventoryItemName" />
                </div>
                <div class="col-3 col-xs-1">
                    <label for="quantity">Quantity</label>
                    <input @bind="@Specimen.InventoryItem.Quantity" type="text" class="form-control" id="quantity" />
                </div>
                <div class="col-4 col-xs-1">
                    <label for="quantity">Status</label>
                    <select @bind="@Specimen.InventoryItem.Status" type="text" class="form-control" id="status">
                        @foreach (var status in Statuses)
                        {
                            <option value="@status">@status.ToFriendlyName()</option>
                        }
                    </select>
                </div>

            </div>
            <div class="row">
                <div class="col-4 col-xs-1">
                    <label for="quantity">Stage</label>
                    <select @bind="@Specimen.SpecimenStage" class="form-control" id="specimen-stage">
                        @foreach (var stage in SpecimenStages)
                        {
                            <option value="@stage">@stage.ToFriendlyName()</option>
                        }
                    </select>
                </div>
                <div class="col-3 col-xs-1">
                    <label for="date-acquired">Date Acquired</label>
                    <input type="date" @bind="Specimen.InventoryItem.DateAcquired" class="form-control" />
                </div>
                <div class="col-3 col-xs-1">
                    <label for="origin">Origin</label>
                    <OriginTypeahead @bind-SelectedOrigin="SelectedOrigin" />
                </div>
                <div class="col-4 col-xs-1">
                    <label for="quantity">Type</label>
                    <select @bind="@Specimen.InventoryItem.ItemType" type="text" class="form-control" id="type">
                        @foreach (var itemType in ItemTypes)
                        {
                            <option value="@itemType">@itemType.ToFriendlyName()</option>
                        }
                    </select>
                </div>
            </div>
            <UploadPhoto UploadedPhotos="UploadedPhotos" PhotoType="PhotoType.Specimen" />
            <div class="row">
                <div class="col">
                    <button @onclick="(async () => await SaveSpecimenAsync())" class="btn btn-primary">Submit</button>
                    @if (BlazoredModal != null)
                    {
                        <button @onclick="BlazoredModal.Cancel" class="btn btn-secondary">Cancel</button>
                    }
                </div>
            </div>
        </div>
    </EditForm>
}
else
{
    <span>Loading...</span>
}
