@page "/plantinfo/list"
@using Emergence.Client.Components
@using Emergence.Data.Shared.Extensions;
@inherits ListPlantInfosComponent
<input type="text" @bind="SearchText" id="search" />
<button class="btn btn-secondary" @onclick="GetPlantInfos">Search</button>
@if (PlantInfos != null)
{
<table>
    <thead>
        <tr>

            <td>Scientific Name</td>
            <td>Common Name</td>
            <td>Origin</td>
            <td>Zone</td>
            <td>Light</td>
            <td>Water</td>
            <td>Bloom</td>
            <td>Height</td>
            <td>Spread</td>
        </tr>
    </thead>
    @if (!PlantInfos.Any())
    {
        <tr>
            <td>
                No results
            </td>
        </tr>
    }
    @foreach (var plantInfo in PlantInfos)
    {
<tr>
    <td>
        <a href="/plantInfo/edit/@plantInfo.PlantInfoId"><span>@plantInfo.Lifeform.ScientificName</span></a>
    </td>
    <td>
        <span>@plantInfo.CommonName</span>
    </td>
    <td>
        <span>@plantInfo.Origin.Name</span>
    </td>
    <td>
        @if (plantInfo.Requirements?.ZoneRequirements != null)
        {
            <span>@plantInfo.Requirements.ZoneRequirements.ToFriendlyString()</span>
        }
    </td>
    <td>
        @if (plantInfo.Requirements?.LightRequirements != null)
        {
            <span>@plantInfo.Requirements.LightRequirements.ToFriendlyString()</span>
        }
    </td>
    <td>
        @if (plantInfo.Requirements?.WaterRequirements != null)
        {
            <span>@plantInfo.Requirements.WaterRequirements.ToFriendlyString()</span>
        }
    </td>
    <td>
        @if (plantInfo.BloomTime != null)
        {
            <span>@plantInfo.BloomTime.ToFriendlyString()</span>
        }
    </td>
    <td>
        @if (plantInfo.Height != null)
        {
            <span>@plantInfo.Height.ToFriendlyString()</span>
        }
    </td>
    <td>
        @if (plantInfo.Spread != null)
        {
            <span>@plantInfo.Spread.ToFriendlyString()</span>
        }
    </td>
</tr>
    }
</table>
}

@code {

}
