@page "/origin/list"
@using Emergence.Client.Components
@using Emergence.Data.Shared.Extensions;
@inherits ListOriginsComponent
<input type="text" @bind="SearchText" id="search" />
<button class="btn btn-secondary" @onclick="GetOrigins">Search</button>
@if (Origins != null)
{
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Type</td>
                <td>Description</td>
                <td>Parent Origin</td>
                <td>City</td>
                <td>Link</td>
            </tr>
        </thead>
        @if (!Origins.Any())
        {
            <tr>
                <td>
                    No results
                </td>
            </tr>
        }
        @foreach (var origin in Origins)
        {
    <tr>
        <td>
            <a href="/origin/edit/@origin.OriginId"><span>@origin.Name</span></a>
        </td>
        <td>
            <span>@origin.Type.ToFriendlyName()</span>
        </td>
        <td>
            <span>@origin.Description</span>
        </td>
        <td>
            @if (@origin.ParentOrigin != null)
            {
                <a href="/origin/edit/@origin.ParentOrigin.OriginId"><span>@origin.ParentOrigin.Name</span></a>
            }
        </td>
        <td>
            <span>@(origin.Location.CityState)</span>
        </td>
        <td>
            <span>
                @if (@origin.Uri != null)
                {
                    <a href="@origin.Uri" target="_blank"><span>@origin.Uri.ToString()</span></a>
                }
            </span>
        </td>
    </tr>
        }
    </table>
}

@code {

}
