@page "/specimen/list"
@using Emergence.Client.Components
@using Emergence.Data.Shared.Extensions;
@inherits ListSpecimensComponent
<input type="text" @bind="SearchText" id="search" />
<button class="btn btn-secondary" @onclick="GetSpecimens">Search</button>
@if (Specimens != null)
{
    <table>
        <thead>
            <tr>
                <td>Scientific Name</td>
                <td>Common Name</td>
                <td>Quantity</td>
                <td>Growth Stage</td>
                <td>Status</td>
                <td>Date Acquired</td>
                <td>Origin</td>
            </tr>
        </thead>
        @if (!Specimens.Any())
        {
            <tr>
                <td>
                    No results
                </td>
            </tr>
        }
        @foreach (var specimen in Specimens)
        {
            <tr>
                <td>
                    <a href="/specimen/edit/@specimen.SpecimenId"><span>@specimen.Lifeform.ScientificName</span></a>
                </td>
                <td>
                    <span>@specimen.Lifeform.CommonName</span>
                </td>
                <td>
                    <span>@specimen.InventoryItem.Quantity</span>
                </td>
                <td>
                    <span>@specimen.SpecimenStage.ToFriendlyName()</span>
                </td>
                <td>
                    <span>@specimen.InventoryItem.Status.ToFriendlyName()</span>
                </td>
                <td>
                    <span>@(specimen.InventoryItem.DateAcquired.HasValue ?
                            specimen.InventoryItem.DateAcquired.Value.ToLocalTime().ToShortDateString() : "")</span>
                </td>
                <td>
                    <span>@specimen.InventoryItem.Origin?.Name</span>
                </td>
            </tr>
        }
    </table>
}

@code {

}
