@page "/privacy"

<h2>Privacy Policy</h2>
<p><strong><em>Revised October 3, 2020</em></strong></p>

<p>
    This is the privacy policy ("Privacy Policy") of the Emergence App website, and describes how emergence.app ("Emergence App," "We," "Us" or "Our") handles Personal Information
    (as defined below) that users ("You," "Your" or "User") provide to Us, or that We collect from You through the use of Our Website, which is located at emergence.app.
</p>
<p>
    This Privacy Policy is subject to our Terms of Service at <a href="/terms">https://emergence.app/terms</a>. We may update this Privacy Policy from time to time,
    as specified in the "Changes to This Privacy Policy" section below.
</p>

<h3>Your Consent</h3>
<p>
    You should read this entire Privacy Policy before submitting information to us or using our Websites. Whenever You submit personal and non-personal information
    via our Websites or otherwise to us, whether online or offline, You consent to the collection, use disclosure, transfer, and storage  of that information in accordance
    with this Privacy Policy.
</p>

<h3>Non-Personal Information</h3>
<p>
    Emergence App collects non-personal information of the sort that web browsers and servers typically make available, such as the browser type, language preference,
    referring site, and the date and time of each visitor request. Emergence App's purpose in collecting non-personal information is to better understand how Emergence App's
    visitors use its Websites and Apps. From time to time, Emergence App may release non-Personal Information in the aggregate, e.g., by publishing a report on trends in the
    usage of its Websites and Apps.
</p>

<h3>Personal Information</h3>
<p>
    "Personal Information" means information such as Your first/middle initial or name, last name, e-mail address, street address, mailing address if different,
    town or city, state, zip code, telephone number, profile photograph, Internet Protocol (IP) addresses, credit card information, and any other information that
    could allow someone to identify You or contact You.
</p>
<p>
    Emergence App does not disclose Personal Information other than as disclosed below.
</p>

<h3>The Personal Information We Collect</h3>
<p>
    Emergence App may collect Personal Information when You choose to interact with Emergence App in ways that require Emergence App to gather such information, such as if You
    browse on Emergence App, register as an Emergence App User, update or add information to Your Emergence App profile, provide content to Emergence App through Your computer or phone,
    make a donation to Emergence App through the Site, or otherwise communicate with Us about the Emergence App Services. When You post on Emergence App, We may collect Your User ID,
    latitude and longitude of the site, the date and time, the metadata associated with image or sound files, the app You used to contribute data,
    and the time zone of the site. The amount and type of information that Emergence App gathers depends on the nature of the interaction. In each case,
    Emergence App collects such information only insofar as is necessary or appropriate to fulfill the purpose of Your interaction with Emergence App.
    Emergence App does not disclose Personal Information other than as described below. You can refuse to supply Personal Information, with the caveat that doing so may
    prevent You from engaging in certain Website and App-related activities, such as registering as an Emergence App User, maintaining an Emergence App profile, or posting content to
    Emergence App. Without providing personal information (other than the automatic provision of Your IP address), You will still be able to access and use Emergence App on a read-only basis.
</p>

<h3>How We Use Personal Information</h3>
<p>
    We may use the Personal Information that You provide in order to deliver the Emergence App Services and to administer and maintain the Emergence App Websites.
    If You register as an Emergence App User, You must give Us current, complete and accurate information and keep the information You provide to Us up to date.
    We cannot and shall not be responsible for any problems or liability that may arise if You do not give Us current, accurate, truthful, or complete information
    or if You fail to update the information You give Us.
</p>

<h3>When We Disclose and Share Personal Information</h3>
<p>
    Personal Information you provide related to the data You post (user name, date, time, location) is published in venues on Emergence App where it is visible to
    anyone ("Published") as matter of normal usage and therefore is publicly shared with other Emergence App Users, whether or not they are signed in.
</p>
<p>
    Personal Information associated with users’ registration and account (IP address, email address, etc.) is shared with Emergence App staff.
</p>
<p>
    Emergence App discloses Personal Information only to those of its programmers, contractors, and affiliated organizations that (i) need to know that information
    in order to process it on Emergence App's behalf or to provide Services available at Emergence App's Websites and Apps, and (ii) that have agreed not to disclose
    it to others, with the exception of non-public location data from posts for non-commercial research, conservation, and species management purposes.
</p>
<p>
    Some of those employees, contractors and affiliated organizations may be located outside of Your home country; by using Emergence App's Websites or Apps,
    You consent to the transfer of such information to them. Emergence App will not rent or sell Personal Information to anyone. We share IP addresses, User agent strings
    (text that describes the software making a network connection), and information relating to software stability (e.g. information about software crashes) and behavior
    (e.g. the sequence of screens visited) with several analytics services. These processors include the Google Analytics, Azure Application Insights.
    We do not share Your Emergence App User ID, User name, email address, or name with any of these services.
</p>
<p>
    We may share public and non-public location data from postings, specifically precise coordinates, with trusted data partners for non-commercial research,
    conservation, and species management purposes.
</p>
<p>
    Our infrastructure is hosted by Microsoft Azure. We use Google Maps to display geographic content and We use Sendgrid for sending emails. If You choose to participate
    in some optional services, We will share personal information with processors that make those services possible.
</p>
<p>
    Other than to its employees, contractors, and affiliated organizations, as described above, Emergence App discloses Personal Information only when required to do so by law,
    or when Emergence App believes in good faith that disclosure is reasonably necessary to protect the property or rights of Emergence App, third parties, or the public at large.
    Unless authorized by You through Your opt-in, or as provided above, We will make Your Personal Information available to non-affiliated third parties only in the following circumstances:
</p>

<ul>
    <li>
        <p>
            If We are compelled to do so by a governmental agency, court, or other entity (e.g., to respond to subpoenas, court orders or legal process);
        </p>
    </li>
    <li>
        <p>
            If We believe Your actions violate a law, regulation, this Privacy Policy, or any applicable website or app's terms of use, or if You threaten the rights,
            property or safety of Us, Our Websites, Our Apps, any other Users, or third party;
        </p>
    </li>
    <li>
        <p>
            If, in Our sole discretion, We believe disclosure is necessary to investigate or resolve possible problems or inquiries, to protect Our assets, to defend Our interests
            or comply with Our legal and regulatory obligations; or to protect a User's safety;
        </p>
    </li>
    <li>
        <p>
            If there is a bankruptcy, merger, acquisition, transfer of control, joint venture or other business combination involving Emergence App.
        </p>
    </li>
</ul>

<p>
    If You are a registered User of Emergence App and have supplied Your email address, Emergence App may occasionally send You an email to tell You about new features,
    solicit Your feedback, or just keep You up to date with what's going on with Emergence App and Our products. We primarily use blogs and groups to communicate this
    type of information, so We expect to keep this type of email to a minimum. If You send Us a request (for example via a support email or via one of Our feedback mechanisms),
    We reserve the right to publish it in order to help Us clarify or respond to Your request or to help Us support other Users. Emergence App takes all measures reasonably
    necessary to protect against the unauthorized access, use, alteration, or destruction of  Personal Information.
</p>

<p>
    We do not share Your Personal Information data with any parties for marketing or commercial purposes.
</p>

<h3>Legal Basis for Processing Personal Information Under the General Data Protection Regulation (GDPR)</h3>

<p>
    If You are a resident of the European Economic Area (EEA), Emergence App's legal basis for collecting and using the Personal Information described in this Privacy Policy depends
    on the Personal Information We collect and the specific context in which We collect it. In addition, We process Personal Information with the principle of data minimization in mind.
    This means that We limit ourselves to the minimum amount of personal information which is needed to achieve the particular purpose for which We process the Personal Information.
    Below are some examples of the purposes for which Personal Information may be processed.
</p>

<p>
    Emergence App may process Your Personal Information because:
</p>

<ul>
    <li>
        <p>
            The processing is necessary to provide the services and features You have requested
        </p>
    </li>
    <li>
        <p>
            The processing is necessary to protect the vital interests of our users or of others
        </p>
    </li>
    <li>
        <p>
            The processing is necessary to perform a contract with You
        </p>
    </li>
    <li>
        <p>
            The processing is necessary for the legitimate interests of our business, such as fraud prevention, information security, or to comply with the law
        </p>
    </li>
    <li>
        <p>
            You have provided consent for Us to do so.
        </p>
    </li>
</ul>

<h3>Contact Preferences; Opt-In and Opt-Out</h3>

<p>
    We would like to keep in touch with You in ways that You find to be beneficial. You can control the kinds of emails You receive after creating an account by clicking on this
    link <a href="/Identity/Account/Manage">https://emergence.app/Identity/Account/Manage</a> and following the instructions on that page, or by following the instructions
    in various communications that We may send You. Should You require assistance, You may contact Us directly by emailing <a href="mailto:@(_emailAddress)">@_emailAddress</a>.
    Keep in mind that these preferences regarding promotional contacts do not mean that We might not contact You for other reasons, such as those related to an inquiry You made,
    a legally required notice and so on.
</p>

<h3>How We Retain Personal Information</h3>

<p>
    We retain Your Personal Information associated with Your registration for so long as You remain a registered User of Emergence App. In addition, We may retain Personal Information
    from closed accounts to comply with national laws, prevent fraud, collect any fees owed, resolve disputes, troubleshoot problems, assist with any investigation,
    enforce Our User Agreement and take other actions permitted or required by applicable national laws.
</p>

<p>
    Personal information associated with postings (time, date, location, etc.) may remain attached to postings, even after You have closed Your account unless You request that We delete it.
</p>

<h3>Children</h3>

<p>
    We do not knowingly collect or solicit Personal Information from children or knowingly allow children to purchase goods or memberships through Our Websites and Apps.
    Visitors 12 years of age and younger must obtain an adult's permission before submitting any Personal Information to our Websites or Apps. In the event that We learn that
    We have received any Personal Information from a visitor 12 years of age or younger, and We do not receive parental permission within a reasonable period of time of
    Our request for it, We will delete that information as quickly as possible. If You believe that We might have Personal Information from or about a child 12 years of age or younger,
    please contact Us at <a href="mailto:@(_emailAddress)">@_emailAddress</a>.
</p>

<h3>Cookies</h3>

<p>
    A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser provides to the website each time the visitor returns.
    Emergence App uses cookies to help Emergence App identify and track visitors, their usage of the Emergence App Websites and their Website access preferences. Emergence App visitors
    who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using Emergence App's Websites. Certain features of Emergence App's
    Websites, such as the ability to post, may not function properly without the aid of cookies.
</p>

<h3>How We Protect Your Personal Information</h3>

<p>
    We are committed to protecting the Personal Information You share with Us through the use of Emergence App and We maintain reasonable physical, electronic and procedural
    safeguards to protect Your Personal Information. We limit access to Personal Information by Our own employees to individuals who are authorized for the proper handling of
    such information and any employee found violating Our standards of security and confidentiality is subject to Our disciplinary processes. We request Our service providers
    to follow the same policy. Unfortunately, We cannot guarantee that data transmitted over the Internet will always be secure. As a result, although We strive to protect
    Your Personal Information, We cannot ensure or warrant the security of any information You transmit or We may learn as a result of Your use of Emergence App and You do
    so at Your own risk. If, for any reason, You do not agree with this Privacy Policy, please do not use or attempt to take advantage of any of the information, services,
    features or functions of Emergence App that might require You to provide Your Personal Information.
</p>

<h3>Your Rights with Your Personal Information</h3>

<p>
    If You are a resident of the European Union, You have certain rights with regard to Your Personal Information. Those include:
</p>

<ul>
    <li>
        <p>
            <strong>The right to access, update or delete the information We have about You.</strong> In many instances, You can personally access and update Your Personal
            Information by accessing Your online account settings when logged in by going to <a href="/users/edit">https://emergence.app/users/edit</a>.
            If You are unable to perform these actions yourself, please contact Us to assist You.
        </p>
    </li>
    <li>
        <p>
            <strong>The right of rectification.</strong> You have the right to have Your information corrected if that information is inaccurate or incomplete.
        </p>
    </li>
    <li>
        <p>
            <strong>The right to object.</strong> You have the right to object to our processing of Your Personal Information.
        </p>
    </li>
    <li>
        <p>
            <strong>The right of restriction.</strong> You have the right to request that We restrict the processing of Your Personal Information.
        </p>
    </li>
    <li>
        <p>
            <strong>The right to data portability.</strong> You have the right to be provided with a copy of the information that We have about You in a structured,
            machine-readable and commonly used format.
        </p>
    </li>
    <li>
        <p>
            <strong>The right to withdraw consent.</strong> You have the right to withdraw Your consent at any time where Emergence App relied on Your consent to process
            Your personal information.
        </p>
    </li>
</ul>

<p>
    Please note that for Your safety and security, We may ask You to verify Your identity before responding to such requests. For any such information or requests,
    contact the Emergence App Data Protection Officer at <a href="mailto:@(_emailAddress)">@_emailAddress</a>.
</p>

<h4>Posting</h4>

<p>
    If You do not wish to have the time, date, place, or other identifying information of a posting included on Emergence App, You should not post. Upon Your request,
    We will close Your account and remove your posts.
</p>

<h4>Withdraw Consent</h4>

<p>
    If You withdraw Your consent for the use or disclosure of Your Personal Information for purposes set out in this Privacy Policy You may not have access to all
    Our Services and We might not be able to provide You all of the Services and customer support offered to Our users and authorized under this Privacy Notice and Our User Agreement.
</p>

<h3>Links and Third Parties</h3>

<p>
    There may be opportunities through the Emergence App Website and Apps from time to time to opt-in to receive information from non-Emergence App entities.
    If You opt-in, You may receive correspondence from these organizations on programs, products or services that might interest You. Your communication with these entities
    should be directly with such entities.
</p>

<h3>Privacy Policy Changes</h3>

<p>
    Although most changes are likely to be minor, Emergence App may change its Privacy Policy from time to time, and in Emergence App's sole discretion. We will post an updated
    and revised version of this Privacy Policy on the Emergence App Website when any material changes have been made, and Emergence App encourages visitors to check this
    Privacy Policy often so You are aware of the most current terms and conditions that apply to You. The revisions are effective immediately upon posting.
    Your continued use of this site after any change in this Privacy Policy will constitute Your acceptance of such change.
</p>

<h3>Information from Users Outside the US, and Cross Border Data Transfers</h3>

<p>
    The Services of Emergence App are operated in the US. By using the Services and posting, You consent to the transfer, processing and storage of Your Personal Information
    in the U.S., a jurisdiction in which the privacy laws may not be as comprehensive as those in the country in which You reside. We take all steps reasonably necessary
    to ensure that Your Personal Information is treated securely and in accordance with this Privacy Policy.
</p>

<h3>California Do Not Track Notice</h3>

<p>
    Because there are not yet common, industry accepted "do not track" standards and systems, the Websites may not respond to Do Not Track signals.
</p>

<h3>Your California Privacy Rights</h3>

<p>
    Although We do not disclose to any third parties for their marketing purposes any personally identifiable information, residents of the State of California are entitled
    to receive the following disclosure information under California law:
</p>

<p>
    Residents of the State of California, under the California Civil Code, have the right to request from companies conducting business in California, a list of all third
    parties to which the company has disclosed Personal Information during the preceding year for direct marketing purposes. Except with respect to the limited exceptions 
    described above, We do not share Your Personal Information with any third parties for direct marketing purposes.
</p>

<p>
    If You are a California resident and request information about how to exercise Your third party disclosure choices, You must send a request to the following address
    with a preference on how Our response to Your request should be sent (email or postal mail). Send an email to <a href="mailto:@(_emailAddress)">@_emailAddress</a> or contact Us
    via postal mail at:
</p>

<p>
    Data Protection<br>
    Emergence App LLC<br>
    275 Carriage Station Circle<br>
    Roswell, GA 30075<br>
    Attn: Your California Privacy Rights<br>
</p>

<p>
    All requests sent via postal mail must be labeled "Your California Privacy Rights" on the envelope or post card and clearly stated on the actual request. For all requests,
    please include Your name, street address, city, state, and zip code. (Your street address is optional if You wish to receive a response to Your request via email.
    Please include Your zip code for our own recordkeeping.)  We will not accept requests via the telephone or by facsimile. We are not responsible for notices that are not
    labeled or sent properly, notices that are illegible or do not have complete information.
</p>

<h3>All Users</h3>

<p>
    If any User of Our Websites, Apps, or any Subscriber has any questions about this Privacy Policy, please contact <a href="mailto:@(_emailAddress)">@_emailAddress</a> or:
</p>

<p>
    Privacy<br>
    Emergence App LLC<br>
    275 Carriage Station Circle<br>
    Roswell, GA 30075<br>
</p>

<p>
    <i>This Privacy Policy was last modified on September 2, 2020.</i>
</p>

<p>
    © Copyright 2020 Emergence App LLC. All Rights Reserved.
</p>

<span>
    Revised on October 3, 2020 07:14 by Carling Kirk
</span>

@code
{
    private const string _emailAddress = "emergenceapp@gmail.com";
}
