@page "/plantinfo/view/{Id:int}"
@using Emergence.Data.Shared.Models
@using Emergence.Client.Components
@using Emergence.Data.Shared.Extensions

@inherits PlantInfoComponent

@if (PlantInfo != null)
{
<div class="form-group container">
    <div class="row">
        <div class="col-9 col-xs-1">
            <label for="lifeform">Plant Name </label>
            <span class="text-body">@(PlantInfo.Lifeform.CommonName)</span>&nbsp;<span class="text-body font-italic">@(PlantInfo.Lifeform.ScientificName)</span>
        </div>
        <div class="col-3 col-xs-1">
            <label for="origin">Origin</label>
            <span class="text-body">@PlantInfo.Origin?.Name</span>
        </div>
    </div>
</div>
<div class="form-group container">
    <div class="row">
        <div class="col-10">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <label for="req-light-min">Light</label>
                        <div class="container">
                            <div class="row">
                                <div class="col-5 range-input">
                                    <span id="req-light-min">@PlantInfo.Requirements.LightRequirements.MinimumLight.ToFriendlyName()</span>
                                </div>
                                <div class="col-1 range-separator">
                                    <span>to</span>
                                </div>
                                <div class="col-5 range-input">
                                    <span id="req-light-max">@PlantInfo.Requirements.LightRequirements.MaximumLight.ToFriendlyName()</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="req-water-min">Water</label>
                        <div class="container">
                            <div class="row">
                                <div class="col-5 range-input">
                                    <span id="req-water-min">@PlantInfo.Requirements.WaterRequirements.MinimumWater.ToFriendlyName()</span>
                                </div>
                                <div class="col-1 range-separator">
                                    <span>to</span>
                                </div>
                                <div class="col-5 range-input">
                                    <span id="req-water-max">@PlantInfo.Requirements.WaterRequirements.MaximumWater.ToFriendlyName()</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="req-zones-min">Zones</label>
                        <div class="container">
                            <div class="row">
                                <div class="col-5 range-input">
                                    <span id="req-zones-min">@PlantInfo.Requirements.ZoneRequirements.MinimumZone.ToFriendlyString()</span>
                                </div>
                                <div class="col-1 range-separator">
                                    <span>to</span>
                                </div>
                                <div class="col-5 range-input">
                                    <span id="req-zones-max">@PlantInfo.Requirements.ZoneRequirements.MaximumZone.ToFriendlyString()</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="bloom-min">Bloom Times</label>
                        <div class="container">
                            <div class="row">
                                <div class="col-5 range-input">
                                    <span id="bloom-min">@PlantInfo.BloomTime.MinimumBloomTime.ToFriendlyName()</span>
                                </div>
                                <div class="col-1 range-separator">
                                    <span>to</span>
                                </div>
                                <div class="col-5 range-input">
                                    <span id="bloom-max">@PlantInfo.BloomTime.MaximumBloomTime.ToFriendlyName()</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="height-min">Height</label>
                        <div class="container">
                            <div class="row">
                                <div class="col-3 range-input">
                                    <span id="height-min">@PlantInfo.Height.MinimumHeight</span>
                                </div>
                                <div class="col-1 range-separator">
                                    <span>to</span>
                                </div>
                                <div class="col-3 range-input">
                                    <span id="height-max">@PlantInfo.Height.MaximumHeight</span>
                                </div>
                                <div class="col-2 range-input range-input-unit">
                                    <span id="height-unit">@PlantInfo.Height.Unit.ToFriendlyName()</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="spread-min">Spread</label>
                        <div class="container">
                            <div class="row">
                                <div class="col-3 range-input">
                                    <span id="spread-min">@PlantInfo.Spread.MinimumSpread</span>
                                </div>
                                <div class="col-1 range-separator">
                                    <span>to</span>
                                </div>
                                <div class="col-3 range-input">
                                    <span id="spread-max">@PlantInfo.Spread.MaximumSpread</span>
                                </div>
                                <div class="col-4 range-input range-input-unit">
                                    <span id="spread-unit">@PlantInfo.Spread.Unit.ToFriendlyName()</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="req-scarification">Stratification Stages</label>
                        @if (PlantInfo.Requirements.StratificationStages != null)
                        {
                            @foreach (var stage in PlantInfo.Requirements.StratificationStages)
                            {
                                var key = stage.Step.ToString();
                                var firstRow = stage.Step == 1;
                                <div class="row">
                                    <div class="col-1">
                                    </div>
                                    <div class="col-1">
                                        <div class="@(firstRow ? "" : "d-none")"><label>Step</label></div>
                                        <span >@stage.Step</span>
                                    </div>
                                    <div class="col-1">
                                        <label class="@(firstRow ? "" : "d-none")" for="@GetElementId("req-scarification-days", key)">Days</label>
                                        <span id="@GetElementId("req-scarification-days", key)">@stage.DayLength</span>
                                    </div>
                                    <div class="col-7">
                                        <label class="@(firstRow ? "" : "d-none")" for="@GetElementId("req-scarification-type", key)">Statification Method</label>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <span>@stage.StratificationType.ToFriendlyName()"</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <label for="req-soil">Soil Types</label>
            <ul class="checklist">
                @foreach (var soilType in SoilTypes)
                {
                    <li>
                        <input type="checkbox" checked="@IsSoilTypeChosen(soilType)" id="@GetElementId("req-soil", "soilType")" disabled />
                        <label for="@GetElementId("req-soil", soilType.ToString())">@soilType</label>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
}
@code {

}
