@page "/origin/view/{Id:int}"
@using Emergence.Data.Shared 
@using Emergence.Data.Shared.Models
@using Emergence.Client.Components
@using Emergence.Data.Shared.Extensions

@inherits OriginComponent

@if (Origin != null)
{
<div class="form-group">
    <div class="row">
        <div class="col-lg-4 col-xs">
            <div>
                <label for="name">Name</label>
            </div>
            <div>
                <span class="text-body">@Origin.Name</span>
            </div>
        </div>
        @if (@Origin.Type != OriginType.Unknown)
        {
            <div class="col-lg-2 col-xs">
                <div>
                    <label for="type">Type</label>
                </div>
                <div>
                    <span class="text-body">@Origin.Type.ToFriendlyName()</span>
                </div>
            </div>
        }
        @if (@Origin.ParentOrigin != null)
        {
            <div class="col-lg-3 col-xs">
                <div>
                    <label for="name">Parent Origin</label>
                </div>
                <div>
                    <span class="text-body">@Origin.ParentOrigin.Name</span>
                </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(Origin.User?.DisplayName))
        {
            <div class="col-lg-3 col-xs">
                <Conservator User="Origin.User" />
            </div>
        }
        @if (Origin.Uri != null)
        {
            <div class="col-lg-8 col-xs">
                <div>
                    <label for="uri">Link</label>
                </div>
                <div>
                    <a href="@Origin?.Uri" target="_blank" alt="@Origin?.Uri"><span class="link">@Origin?.ShortUri</span></a>
                </div>
            </div>
        }
    </div>
    @if (!string.IsNullOrEmpty(Origin.Description))
    {
        <div class="row">
            <div class="col">
                <div>
                    <label for="description">Description</label>
                </div>
                <div>
                    <span class="text-body">@Origin.Description</span>
                </div>
            </div>
        </div>
    }
</div>
<div class="form-group">
    <div class="row">
        @if (!string.IsNullOrEmpty(Origin.Authors))
        {
            <div class="col-lg-6 col-xs">
                <div>
                    <label for="authors">Authors</label>
                </div>
                <div>
                    <span class="text-body">@Origin.Authors</span>
                </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(Origin.ExternalId))
        {
            <div class="col-lg-3 col-xs">
                <div>
                    <label for="external-id">External Identifier</label>
                </div>
                <div>
                    <span class="text-body">@Origin.ExternalId</span>
                </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(Origin.AltExternalId))
        {
            <div class="col-lg-3 col-xs">
                <div>
                    <label for="alt-external-id">Alt External Identifier</label>
                </div>
                <div>
                    <span class="text-body">@Origin.AltExternalId</span>
                </div>
            </div>
        }
    </div>
</div>
<div class="form-group">
    <div class="row">
        @if (Origin.Location.HasAddressInfo)
        {
            <div class="col-lg-9 col-xs">
                <div>
                    <label for="address">Physical Address</label>
                </div>
                @if (Origin.Location.AddressLine1 != null)
                {
                    <div class="col">
                        <span class="text-body">@Origin.Location.AddressLine1</span>
                    </div>
                }
                @if (Origin.Location.AddressLine2 != null)
                {
                    <div class="col">
                        <span class="text-body">@Origin.Location.AddressLine2</span>
                    </div>
                }
                @if (Origin.Location.CityState != null)
                {
                    <div class="col">
                        <span class="text-body">@Origin.Location.CityState</span>
                    </div>
                }
                @if (Origin.Location.PostalCode != null)
                {
                    <div class="col">
                        <span class="text-body">@Origin.Location.PostalCode</span>
                    </div>
                }
                @if (Origin.Location.Country != null)
                {
                    <div class="col">
                        <span class="text-body">@Origin.Location.Country</span>
                    </div>
                }
            </div>
        }
        <div class="col">
            @if (Origin.Location.Latitude.HasValue && Origin.Location.Longitude.HasValue)
            {
                <div class="col">
                    <span class="text-body">@Origin.Location.LatLong</span>
                </div>
            }
        </div>
    </div>
</div>
}

@code {}
