@typeparam T
@if (TotalPages > 0)
{
    <button type="button" class="btn btn-secondary btn-sm" @onclick="@(async () => await DoPage(-5, Take))" disabled="@(CurrentPage < 6)"><span class="oi oi-media-step-backward"></span></button>
    <button type="button" class="btn btn-secondary btn-sm" @onclick="@(async () => await DoPage(-1, Take))" disabled="@(CurrentPage < 2)"><span class="oi oi-media-skip-backward"></span></button>
    <span>@CurrentPage of @TotalPages</span>
    <button type="button" class="btn btn-secondary btn-sm" @onclick="@(async () => await DoPage(1, Take))" disabled="@(CurrentPage == TotalPages)"><span class="oi oi-media-skip-forward"></span></button>
    <button type="button" class="btn btn-secondary btn-sm" @onclick="@(async () => await DoPage(5, Take))" disabled="@(CurrentPage > (TotalPages - 5))"><span class="oi oi-media-step-forward"></span></button>
   
    <select id="per-page" style="display: inline; width: 3.75em; padding: 0.25em; margin: 0 0.25em;" class="form-control" @onchange="OnTakeChanged">
        <option value="12">12</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select><span>per page</span>
}
