@using Emergence.Data.Shared.Models
@inject IModalServiceClient ModalServiceClient
@inherits EmergenceComponent

@if (UploadedPhotos != null)
{
<div class="row">
    <div class="col-6">
        <label for="photos">Photos</label>
    </div>
</div>
<div class="row">
    @foreach (var photo in UploadedPhotos)
    {
        @if (string.IsNullOrEmpty(photo.ExternalUrl))
        {
            <div class="col-lg-2 col-xs">
                <a href="" @onclick="async () => await ModalServiceClient.ShowPhotoModal(photo, Name)" @onclick:preventDefault>
                    <img srcset="@(photo.LargeUri) 3x, @(photo.MediumUri) 2x, @(photo.ThumbnailUri) 1x" src="@(photo.OriginalUri)" class="viewer-img"
                         onerror="this.onerror=null;this.srcset='';this.src='@(photo.OriginalUri)'" alt="Uploaded photo of @(photo.Type)" />
                </a>
            </div>
        }
        else
        {
            <div class="col-lg-2 col-xs">
                <a href="" @onclick="async () => await ModalServiceClient.ShowPhotoModal(photo, Name)" @onclick:preventDefault>
                    <img src="@(photo.ExternalUrl)" alt="Uploaded photo of @(photo.Type)" class="viewer-img" />
                </a>
            </div>
        }
    }
</div>
}

@code {
    [Parameter]
    public List<Photo> UploadedPhotos { get; set; }
    [Parameter]
    public string Name { get; set; }
}
