<div class="container">
    <div class="row">
        <div class="col-lg-4 col-xs">
            @*Zone*@
            <div class="row">
                <label for="@Filters.ZoneFilter.Name.ToLower()">@Filters.ZoneFilter.Name</label>
            </div>
            <div class="row">
                <div class="col-lg-11 col-xs" style="padding: 0;">
                    Value: @Filters.ZoneFilter.Value
                    <select @bind="@Filters.ZoneFilter.Value" class="form-control" id="@Filters.ZoneFilter.Name.ToLower()">
                        @foreach (var value in Filters.ZoneFilter.FacetValues)
                        {
                            <option value="@value.Key">@(Filters.ZoneFilter.DisplayValue(value.Key, value.Value))</option>
                        }
                    </select>
                </div>
            </div>
            @*Region*@
            <div class="row">
                <label for="@Filters.RegionFilter.Name.ToLower()">@Filters.RegionFilter.Name</label>
            </div>
            <div class="row">
                <div class="col-lg-11 col-xs" style="padding: 0;">
                    <select @bind="@Filters.RegionFilter.Value" class="form-control" id="@Filters.RegionFilter.Name.ToLower()">
                        @foreach (var value in Filters.RegionFilter.FacetValues)
                        {
                            <option value="@value.Key">@(Filters.RegionFilter.DisplayValue(value.Key, value.Value))</option>
                        }
                    </select>
                </div>
            </div>
            @*Height*@
            <div class="row">
                <label for="@Filters.HeightFilter.Name.ToLower()">@Filters.HeightFilter.Name</label>
            </div>
            <div class="row">
                <div class="col-lg-11 col-xs" style="padding: 0;">
                    <div class="col-5 range-input">
                        <select @bind="@Filters.HeightFilter.MinimumValue" class="form-control" id="@Filters.HeightFilter.Name.ToLower()">
                            @foreach (var value in Filters.HeightFilter.FacetValues)
                            {
                                <option value="@value.Key">@(value)</option>
                            }
                        </select>
                    </div>
                    <div class="col-1 range-separator">
                        <span>to</span>
                    </div>
                    <div class="col-5 range-input">
                        <select @bind="@Filters.HeightFilter.MaximumValue" class="form-control" id="@Filters.HeightFilter.Name.ToLower()">
                            @foreach (var value in Filters.HeightFilter.FacetValues)
                            {
                                <option value="@value.Key">@(value)</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            @*Spread*@
            <div class="row">
                <label for="@Filters.SpreadFilter.Name.ToLower()">@Filters.SpreadFilter.Name</label>
            </div>
            <div class="row">
                <div class="col-lg-11 col-xs" style="padding: 0;">
                    <div class="col-5 range-input">
                        <select @bind="@Filters.SpreadFilter.MinimumValue" class="form-control" id="@Filters.SpreadFilter.Name.ToLower()">
                            @foreach (var value in Filters.SpreadFilter.FacetValues)
                            {
                                <option value="@value.Key">@(value)</option>
                            }
                        </select>
                    </div>
                    <div class="col-1 range-separator">
                        <span>to</span>
                    </div>
                    <div class="col-5 range-input">
                        <select @bind="@Filters.SpreadFilter.MaximumValue" class="form-control" id="@Filters.SpreadFilter.Name.ToLower()">
                            @foreach (var value in Filters.SpreadFilter.FacetValues)
                            {
                                <option value="@value.Key">@(value)</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            @*Light*@
            <div class="row">
                <label for="@Filters.LightFilter.Name.ToLower()">@Filters.LightFilter.Name</label>
            </div>
            <div class="row">
                <div class="col-lg-11 col-xs" style="padding: 0;">
                    <div class="col-5 range-input">
                        <select @bind="@Filters.LightFilter.MinimumValue" class="form-control" id="@Filters.LightFilter.Name.ToLower()">
                            @foreach (var value in Filters.LightFilter.FacetValues)
                            {
                                <option value="@value.Key">@(Filters.LightFilter.DisplayValue(value.Key, value.Value))</option>
                            }
                        </select>
                    </div>
                    <div class="col-1 range-separator">
                        <span>to</span>
                    </div>
                    <div class="col-5 range-input">
                        <select @bind="@Filters.LightFilter.MaximumValue" class="form-control" id="@Filters.LightFilter.Name.ToLower()">
                            @foreach (var value in Filters.LightFilter.FacetValues)
                            {
                                <option value="@value.Key">@(Filters.LightFilter.DisplayValue(value.Key, value.Value))</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            @*Water*@
            <div class="row">
                <label for="@Filters.WaterFilter.Name.ToLower()">@Filters.WaterFilter.Name</label>
            </div>
            <div class="row">
                <div class="col-lg-11 col-xs" style="padding: 0;">
                    <div class="col-5 range-input">
                        <select @bind="@Filters.WaterFilter.MinimumValue" class="form-control" id="@Filters.WaterFilter.Name.ToLower()">
                            @foreach (var value in Filters.WaterFilter.FacetValues)
                            {
                                <option value="@value.Key">@(Filters.WaterFilter.DisplayValue(value.Key, value.Value))</option>
                            }
                        </select>
                    </div>
                    <div class="col-1 range-separator">
                        <span>to</span>
                    </div>
                    <div class="col-5 range-input">
                        <select @bind="@Filters.WaterFilter.MaximumValue" class="form-control" id="@Filters.WaterFilter.Name.ToLower()">
                            @foreach (var value in Filters.WaterFilter.FacetValues)
                            {
                                <option value="@value.Key">@(Filters.WaterFilter.DisplayValue(value.Key, value.Value))</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            @*Bloom*@
            <div class="row">
                <label for="@Filters.BloomFilter.Name.ToLower()">@Filters.BloomFilter.Name</label>
            </div>
            <div class="row">
                <div class="col-lg-11 col-xs" style="padding: 0;">
                    <div class="col-5 range-input">
                        <select @bind="@Filters.BloomFilter.MinimumValue" class="form-control" id="@Filters.BloomFilter.Name.ToLower()">
                            @foreach (var value in Filters.BloomFilter.FacetValues)
                            {
                                <option value="@value.Key">@(Filters.BloomFilter.DisplayValue(value.Key, value.Value))</option>
                            }
                        </select>
                    </div>
                    <div class="col-1 range-separator">
                        <span>to</span>
                    </div>
                    <div class="col-5 range-input">
                        <select @bind="@Filters.BloomFilter.MaximumValue" class="form-control" id="@Filters.BloomFilter.Name.ToLower()">
                            @foreach (var value in Filters.BloomFilter.FacetValues)
                            {
                                <option value="@value.Key">@(Filters.BloomFilter.DisplayValue(value.Key, value.Value))</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Data.Shared.Search.PlantInfoFilters Filters { get; set; }
}
